body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    text-align: center;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
}
.input-container {
    display: flex;
    align-items: center;
}

input {
    padding: 8px;
    margin: 5px;
}

.operator {
    font-size: 20px;
    margin: 0 10px;
}
